# Pandas - Python Data Analysis library
### Refer to the Python_Training_W3_S1_Whiteboard_content pdf to know more about Pandas applications

In [10]:
pip install pandas

Requirement already satisfied: pandas in c:\users\ramananb\appdata\local\anaconda3\lib\site-packages (1.5.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.21.0 in c:\users\ramananb\appdata\local\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ramananb\appdata\local\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ramananb\appdata\local\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\ramananb\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [11]:
import pandas as pd

In [12]:
# csv file path to read csv files 
auto_csv = r"C:\Users\ramananb\Downloads\Automobile.csv" 
'''
raw string is used to avoid escape sequences. In the above example you have to use either a single fwd slash
or double backslashes for windows path, but using rawstring we can use single backslash without triggering any errors
'''

'\nraw string is used to avoid escape sequences. In the above example you have to use either a single fwd slash\nor double backslashes for windows path, but using rawstring we can use single backslash without triggering any errors\n'

In [13]:
# dumping the csv into a dataframe
auto_df = pd.read_csv(auto_csv)

In [14]:
auto_df

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...,...
393,ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
394,vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
395,dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
396,ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
397,chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

In [15]:
# Shape of a dataframe (No. of rows, no. of cols)
tup = auto_df.shape

In [16]:
print (tup, type(tup))

(398, 9) <class 'tuple'>

In [17]:
# Dataframe metadata
auto_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          398 non-null    object
 1   mpg           398 non-null    float64
 2   cylinders     398 non-null    int64
 3   displacement  398 non-null    float64
 4   horsepower    392 non-null    float64
 5   weight        398 non-null    int64
 6   acceleration  398 non-null    float64
 7   model_year    398 non-null    int64
 8   origin        398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB