# Looping/Iterating through a list

In [1]:
# sample list
courses = ['Maths', 'Physics', 'Chemistry', 'Biology']
courses

['Maths', 'Physics', 'Chemistry', 'Biology']

In [2]:
for i in courses:
    print(i)

Maths
Physics
Chemistry
Biology

In [3]:
for i in courses:
    print(courses.index(i))

0
1
2
3

In [4]:
"""
enumerate() - a built-in function allows us to iterate through a sequence and it keeps track of both the index and the element

"""
for ind, ele in enumerate(courses):
    print(str(ind) +': '+ele)  # index: element/item

0: Maths
1: Physics
2: Chemistry
3: Biology

In [5]:
for ind, ele in enumerate(courses):
    print(f'{ind}:{ele}')

0:Maths
1:Physics
2:Chemistry
3:Biology

In [6]:
courses

['Maths', 'Physics', 'Chemistry', 'Biology']

## join and split

In [7]:
# join() method takes all items in an iterable and joins them into one string. A string must be specified as the separator 
lst_to_str = ', '.join(courses)
lst_to_str

'Maths, Physics, Chemistry, Biology'

In [8]:
lst_to_str = '|'.join(courses)
lst_to_str

'Maths|Physics|Chemistry|Biology'

In [9]:
type(courses)

list

In [10]:
type(lst_to_str)

str

In [11]:
print(type(lst_to_str))

<class 'str'>

In [12]:
print(type(courses))

<class 'list'>

In [13]:
lst_to_str

'Maths|Physics|Chemistry|Biology'

In [14]:
# The split() method splits a string into a list. You can specify the separator, default separator is whitespace
str_to_lst = lst_to_str.split('|')
str_to_lst

['Maths', 'Physics', 'Chemistry', 'Biology']

### Membership Operators -  in, not in

In [15]:
if 'biology' in courses:
    print('Available')
    
else:
    print('Not Available')

Not Available

In [16]:
txt = 'Political Science'
if txt not in courses:
    courses.append(txt)
print(courses)

['Maths', 'Physics', 'Chemistry', 'Biology', 'Political Science']

In [17]:
courses

['Maths', 'Physics', 'Chemistry', 'Biology', 'Political Science']

In [18]:
# Try it yourself - Create another list by accessing the courses list and store all the items in upper case

In [19]:
num_lst = [10, 20, 40, 10.56, 8.4, 1, -3]
max(num_lst)

40

In [20]:
min(num_lst)

-3

In [21]:
# Try it yourself - sum of the items in the num_lst

# Tuples - ()   - immutable and ordered

In [22]:
tuple1 = ('Maths', 'Physics', 'Chemistry', 'Biology', 'Biology')
tuple1

('Maths', 'Physics', 'Chemistry', 'Biology', 'Biology')

In [23]:
dir(tuple1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [24]:
tuple1

('Maths', 'Physics', 'Chemistry', 'Biology', 'Biology')

In [25]:
tuple1.count('Biology')

2

In [26]:
tuple1.count('Hello')

0

In [27]:
tuple1[1:]

('Physics', 'Chemistry', 'Biology', 'Biology')

In [28]:
tuple1.index('Biology')

3

In [29]:
lst1 = [1,2,'Hello',-4]
type(lst1)

list

In [30]:
# type casting a list to tuple
lst1_tup = tuple(lst1)
type(lst1_tup)

tuple

In [31]:
type(lst1)

list

# Sets   - {}  - mutable, unordered and eliminates duplicate values

In [32]:
set1 = {'Hello', 'World', 'Welcome', 'to', 'Sets'}
print(set1)

{'Sets', 'World', 'to', 'Welcome', 'Hello'}

In [33]:
lst2 = ['Hello', 'World', 'Welcome', 'to', 'Sets']

In [34]:
print(lst2)

['Hello', 'World', 'Welcome', 'to', 'Sets']

In [35]:
set2 = {'Physics', 'Chemistry', 'Physics', 'Biology', 'Applied Maths', 'Chemistry'}
set2

{'Applied Maths', 'Biology', 'Chemistry', 'Physics'}

In [36]:
lst2 = ['Physics', 'Chemistry', 'Physics', 'Biology', 'Applied Maths', 'Chemistry']
lst2

['Physics', 'Chemistry', 'Physics', 'Biology', 'Applied Maths', 'Chemistry']

In [37]:
set_a = {'Physics', 'Chemistry', 'Physics', 'Biology', 'Applied Maths', 'Chemistry'}
set_a

{'Applied Maths', 'Biology', 'Chemistry', 'Physics'}

In [38]:
set_b = {'Physics', 'Chemistry', 'Physics', 'Biology', 'Economics', 'Commerce'}
set_b

{'Biology', 'Chemistry', 'Commerce', 'Economics', 'Physics'}

### Set Operations

In [39]:
print(set_a.union(set_b))

{'Physics', 'Applied Maths', 'Commerce', 'Biology', 'Chemistry', 'Economics'}

In [40]:
set_a|(set_b)

{'Applied Maths', 'Biology', 'Chemistry', 'Commerce', 'Economics', 'Physics'}

In [41]:
print(set_a.intersection(set_b))

{'Physics', 'Biology', 'Chemistry'}

In [42]:
(set_a)&(set_b)

{'Biology', 'Chemistry', 'Physics'}

In [43]:
print(set_a-set_b)

{'Applied Maths'}

In [44]:
print(set_b-set_a)

{'Economics', 'Commerce'}